fastapi
langchain
llama-index
llama-index-llms-groq
langchain-groq
langchain-community
langchain-experimental
langserve
langsmith
uvicorn
sqlalchemy
passlib
bcrypt
pyjwt
ollama
pydantic
pydantic[email]
tortoise